<h2>Template: Switches</h2>
<hr />

<form [formGroup]="myForm">
  <!-- Radios -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Gender</label>
    <div class="col-sm-9">
      <div class="form-check">
        <input
          type="radio"
          class="form-check-input"
          value="M"
          id="flexRadioDefault1"
          formControlName="gender"
          required
        />
        <label id="flexRadioDefault1" class="form-check-label"> Male </label>
      </div>

      <div class="form-check">
        <input
          type="radio"
          value="F"
          class="form-check-input"
          id="flexRadioDefault2"
          formControlName="gender"
          required
        />
        <label id="flexRadioDefault2" class="form-check-label"> Female </label>
      </div>
    </div>
  </div>
  <!-- Switches -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Notifications</label>
    <div class="col-sm-9">
      <div class="form-check form-switch mt-2">
        <input
          type="checkbox"
          class="form-check-input"
          id="flexSwitchCheckChecked"
          formControlName="notifications"
          checked
        />
        <label for="flexSwitchCheckChecked" class="form-check-label"
          >I want to receive notifications</label
        >
      </div>
    </div>
  </div>
  <!-- Checkboxes -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
      <div class="form-check">
        <input 
        type="checkbox" 
        class="form-check-input" 
        id="flexCheckDefault"
        formControlName="terms"
        required />
        <label for="flexCheckDefault" class="form-check-label">
          Terms and conditions
        </label>
      </div>
    </div>
  </div>

  <!-- Submit button -->
  <div class="row">
      <div class="col">
          <button 
          [disabled]=""
          class="btn btn-primary float-end">
              Save
          </button>
      </div>
  </div>
</form>

<h5>Form value</h5>
<pre>{{myForm.value | json}}</pre>
<br/>

<h5>Person</h5>
<pre>{{person | json}}</pre>
<br/>

<h5>Valid</h5>
<pre>{{myForm.valid}}</pre>

<h5>Terms</h5>
<pre>{{myForm.controls?.terms?.errors | json}}</pre> 



<h5>Conditions</h5>
<pre></pre>