<h2>Reactive Validations</h2>
<hr />

<div class="row">
  <div class="col">
    <form
    (ngSubmit)="submitForm()" 
    [formGroup]="myForm"
    autocomplete="off">
      <!-- Name -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
          <input
          formControlName="name" 
          class="form-control"
          placeholder="Username" 
          type="text" />
          <span 
          *ngIf="invalidInput('name')"
          class="form-text text-danger">
            Must to be name and surname format
          </span>
        </div>
      </div>

      <!-- Email -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input class="form-control" placeholder="User Email" type="email" />
        </div>
      </div>

      <!-- Username -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input 
          class="form-control" 
          placeholder="Username code" 
          type="text" />
        </div>
      </div>

      <!-- Password -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input class="form-control" placeholder="User Password" type="password" />
        </div>
      </div>

      <!-- Password Confirm-->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Confirm Password</label>
        <div class="col-sm-9">
          <input class="form-control" placeholder="User Password Confirm" type="password" />
        </div>
      </div>

      <div class="row">
          <div class="col">
              <button 
              type="submit"
              class="btn btn-primary float-end">
                  Create
              </button>
          </div>
      </div>

    </form>
  </div>
</div>

<h2>Form Valid: {{myForm.valid}}</h2>

<h2>Name</h2>
<pre>{{myForm.controls.name.errors | json}}</pre>